<a href="https://colab.research.google.com/github/TranPhamTrungHy/AI-ST7-1234/blob/main/AI_ST7_W8_Lungcancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
url = '/content/lung_cancer_examples.csv'
data = pd.read_csv(url)
data.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [3]:
data = data.drop('Name',axis=1)

In [4]:
data = data.drop('Surname',axis=1)

In [5]:
data.head()

   Age  Smokes  AreaQ  Alkhol  Result
0   35       3      5       4       1
1   27      20      2       5       1
2   30       0      5       2       0
3   28       0      8       1       0
4   68       4      5       6       1

In [6]:
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [24]:
X=data.loc[:,['Age','Smokes','AreaQ','Alkhol']]
y=data['Result']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3)

sc = StandardScaler()
sc.fit(X_train)

X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

model = Perceptron(max_iter = 100, eta0 = 0.5,random_state = 0)
model.fit(X_train_std,y_train)

y_pred = model.predict(X_test_std)
print(y_pred[:5])
print(y_test[:5])
print('Do chinh xac mo hinh Scale:',round(accuracy_score(y_test,y_pred),4)*100,'%')

[1 0 0 0 0]
1     1
45    0
35    0
12    0
3     0
Name: Result, dtype: int64
Do chinh xac mo hinh Scale: 94.44 %

In [ ]:
Tuoi = input('Tuoi cua ban:')
Thuoc = input('Ngay ban hut may dieu thuoc:')
A = input('Tri so AreaQ:')
Ruou = input('Nong do con:')